{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Chat with Us
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-left: auto; margin-right:auto;">
        <div class="col-md-6">
            <iframe
    allow="microphone;"
    width="550"
    height="420"
    src="https://console.dialogflow.com/api-client/demo/embedded/c6026011-162d-40da-88cb-6633c17b9e1c">
</iframe>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}