{% extends 'layout.html' %}
{% load static %}

{% block csscontent %}
<link rel="stylesheet" type="text/css">
{% endblock %}
    
{% block title %}
    Terms&conditions
{% endblock %}

{% block content %}
<div class="container">
    <section class="section " id="Tc">
        <div class="container">
                <div class="col-lg-17">
  <hr class="mb-5"/>
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'img/s8.png' %}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'img/s4.jpg' %}" alt="Second slide">
        </div>
         <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'img/s6.jpg' %}" alt="Third slide">
        </div>
      </div>
    </div>
                    <div class="text-center mx-auto section-main-title">
                        <h2 style="color:red;font-family: geogia;"><span class="font-weight-bold">TERMS AND CONDITIONS</span></h2>
                        <div class="asterisk">********************************************************</div>
                        <div class="container" style="text-align: justify;">
    <h4 style="text-align: center;">All correspondence(s) in respect of Tours / Travel Service bookings should be addressed to Tourizto.com</h4>
    <br>
    <p>
        <h4>Payment:</h4>
        For all the services contracted, certain advance payment should be made to hold the booking, on confirmed basis & the balance amount can be paid either before your departure from your country or upon arrival in INDIA but definitely before the commencement of the services. Management personnels hold the right to decide upon the amount to be paid as advance payment, based on the nature of the service & the time left for the commencement of the service.
        <br>
        Apart from above in some cases like Special Train Journeys, hotels or resorts bookings during the peak season (X-Mas, New Year), full payment is required to be sent in advance.
        <br>
    </p>
    <p>
        <h4>Mode of Payment:</h4>
       Overseas advance payment can be made through Wire Transfer to our bank.
        <br>
    </p>
    <p>
        <h4>Cancellation Policy:</h4>
       In the event of cancellation of tour / travel services due to any avoidable / unavoidable reason/s we must be notified of the same in writing. Cancellation charges will be effective from the date we receive advice in writing, and cancellation charges would be as follows:
       <ul>
  <li> 45 days prior to arrival: 10% of the Tour / service cost</li>
  <li> 15 days prior to arrival: 25% of the Tour / service cost</li>
  <li> 07 days prior to arrival: 50% of the Tour / service cost</li>
  <li> 48 hours prior to arrival OR No Show: No Refund</li>
</ul>
    <b>Note:</b> Written cancellation will accept on all working days, except Sunday, Any cancellation sent on Sunday's will be considered on next working day (Monday).
    <br>
    In case you cancel the trip after commencement, refund would be restricted to a limited amount only which too would depend on the amount that we would be able to recover from the hoteliers/ contractors we patronize. For unused hotel accommodation, chartered transportation & missed meals etc. we do not bear any responsibility to refund.
    </p>
     <p>
        <h4>Our Liabilities & Limitations:</h4>
      <p>Please note that after the finalization of the Tour/ service Cost, if there are any Hike in entrance fees of monuments / museums, Taxes, fuel cost or guide charges – by Govt of India, the same would be charged as extra.</p>

<p>Tourizto.com act only in the capacity of agent for the hotels, airlines, transporters, railways & contractors providing other services & all exchange orders, receipts, contracts & tickets issued by us are issued subject to terms & conditions under which these services are provided by them.</p>

<p>All itineraries are sample itineraries, intended to give you a general idea of the likely trip schedule. Numerous factors such as weather, road conditions, the physical ability of the participants etc. may dictate itinerary changes either before the tour or while on the trail. We reserve the right to change any schedule in the interest of the trip participants' safety, comfort & general well being.</p>

<p>Our rates are based on the prevailing rates as negotiated by us with the hotels, airlines etc. Hotels and Airlines retain the right to modify the rates without notice. In case of such changes the rates quoted before the modification, can be changed by us according to the modifications by hotels or airlines. All hotel bookings are based on usual check in and check out time of the hotels until unless indicated in the itinerary.</p>

<p>We shall not be responsible for any delays & alterations in the programme or expenses incurred – directly or indirectly – due to natural hazards, flight cancellations, accident, breakdown of machinery or equipments, breakdown of transport, weather, sickness, landslides, political closures or any untoward incidents.</p>

<p>We shall not be responsible for any loss, injury or damage to person, property, or otherwise in connection with any accommodation, transportation or other services, resulting – directly or indirectly – from any act of GOD, dangers, fire, accident, breakdown in machinery or equipment, breakdown of transport, wars, civil disturbances, strikes, riots, thefts, pilferages, epidemics, medical or custom department regulations, defaults, or any other causes beyond our control.</p>
<p>We do not have any insurance policy covering the expenses for accident, sickness, loss due to theft, or any other reasons. Visitors are advised to seek such insurance arrangements in their home country. All baggages & personal property/s at all times are at the client's risk.
<br>
</p>
<p><b>Please Note :</b> We will not be responsible for any costs arising out of unforeseen circumstances like landslides, road blocks, bad weather, etc.</p>
<br>
<h4>---------------------------------------------------***------------------------------------------------------</h4>
<br>
<br>

                </div>
            </div>  
            </div>                          
</section>  
</div>
{% endblock %}